<!--
Ecology workshop
-->
<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - LC 337</h3>
    <table class="table table-striped">
      <tr><td>9:00am - 9:15am</td><td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> & resolve setup issues</td></tr>
      <tr><td>9:15am - 10:30am</td><td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets Pt. 1</a></td></tr>
      <tr><td>10:30am - 10:45am</td><td> Morning break (get some coffee/tea/hot chocolate!)</td></tr>
      <tr><td>10:45am - 12:00pm</td><td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets Pt. 2</a></td></tr>
      <tr><td>12:00pm - 1:00pm</td><td> Lunch on your own</td></tr>
      <tr><td>1:00pm - 2:30pm</td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning Pt. 1</a></td></tr>
      <tr><td>2:30am - 2:45am</td><td> Afternoon break (get some coffee/tea/hot chocolate!)</td></tr>
      <tr><td>2:45pm - 4:30pm</td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning Pt. 2</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - LC 433</h3>
    <table class="table table-striped">
      <tr><td>9:00am - 10:30am</td><td> <a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL Pt. 1</a></td></tr>
      <tr><td>10:30am - 10:45am</td><td> Morning break (get some coffee/tea/hot chocolate!)</td></tr>
      <tr><td>10:45am - 12:00pm</td><td> <a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL Pt. 2</a></td></tr>
      <tr><td>12:00pm - 1:00pm</td><td> Lunch on your own</td></tr>
      <tr><td>1:00pm - 2:30pm</td><td><a href="https://datacarpentry.org/python-ecology-lesson/ ">Data Analysis and Visualization in Python Pt. 1</a></td></tr>
      <tr><td>2:30am - 2:45am</td><td> Afternoon break (get some coffee/tea/hot chocolate!)</td></tr>
      <tr><td>2:45pm - 4:15pm</td><td><a href="https://datacarpentry.org/python-ecology-lesson/ ">Data Analysis and Visualization in Python Pt. 2</a></td></tr>
      <tr><td>4:15pm - 4:30pm</td><td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
    </table>
  </div>
</div>

